* {
	word-break: keep-all;
	box-sizing: border-box;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	border: 5px solid #f7d7ea;
}

li {
	list-style: none;
	flex-grow: 1;
	text-align: center;
	padding: 5px;
}

li:not(:last-child) {
    border-right: 3px solid #f7d7ea;
}

div {
	border: 3px solid #d6d6d6;
	display: flex;
}


h1 {
	text-align: center;
	border: 5px solid #f7d7ea;
}

h2 {
	text-align: center;
	font-size: 20px;
}

h3 {
	padding: 0;
	margin: 0;
	background-color: #d6d6d6;
}

h4 {
	background-color: #f7d7ea;
}

p {
	text-align: center;
}

figurecaption {
	font-size: 11px;
	
}
img {
	max-width: 100%;
}

a:hover {
	color: #f7d7ea;
}

h3 a:visited {
	color: perple;
	text-decoration: none;
}

h3 a:hover {
	color: perple;
	text-decoration: none;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	padding: 5px;
	text-underline-offset: 5px; /*(밑줄 위치 조정)*/
	text-decoration-thickness: 10px;
}

section {
	display: block;
}


